
:root {
    font-size: 20px;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;

    /* Colours: https://huemint.com/back-gradient-5/#palette=fcf7fd-e32d31-13b7c9-11a877-1c9435-0b2816 */
    --white: #fcf7fd;
    --light-purple: #baafb6;
    --black: hsl(289, 61%, 7%);
    --dark-purple: #340f25;
    --attention: #e22c2f;

    --dark-green: #081c0f;
    --accent-green: hsl(133, 68%, 35%);

    --accent-blue: #13b6c9;
    --dark-blue: #074a45;
    
    
    background-color: var(--white);
    color: var(--black);
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    margin: 0%;

    display: grid;
    grid-template-columns: 18.75% repeat(auto-fit, minmax(50px, 3fr)) 18.75%;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-template-rows: repeat(10, minmax(50px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}
.margin {
    grid-row-start: 1;
    grid-row-end: -1;
    border: 1px solid gray;
}
#left {
    grid-column-start: 1;
}
#right {
    grid-column-start: -2;
}

.content {
    border-radius: 1rem;
    width: 100%;

}

#red {
    background-color: var(--attention);
    grid-column: span 2;
    grid-row: span 3;
}
#green {
    background-color: var(--accent-green);
    grid-column: span 1;

    grid-row: span 3;
}
#blue {
    background-color: var(--accent-blue);
    grid-column: span 3;
    grid-row: span 2;
}