<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Template</title>
</head>
<body>
    <embed class="main-header" src="../header.html" type="text/html">

    <p>Written by, <em>Sif Høg</em>, dd/mm/yyyy</p>
    <h1>Header 1</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus sit deserunt ut cupiditate officiis laudantium provident itaque alias veniam! Ipsa nemo ullam nulla deleniti veritatis maxime molestias consectetur et eum.</p>
</body>
</html>