<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEQBF8BWKW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-KEQBF8BWKW');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../icon.png">
    
    <title>Template</title>
    <meta name="author" content="Sif Høg">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:image" content="https://www.sifhg.github.io/sifcity/logo.png">
    <meta name="robots" content="index,follow">

    <!--For academic writings
    <meta name="citation_title" content="The Title">
    <meta name="citation_author" content="Høg, Sif">
    <meta name="citation_publication_date" content="yyyy">
    -->
</head>
<body>
    <embed src="../header.html" type="text/html"></embed>
    <script src="../headerAdjuster.js"></script>

    <p>Written by <em>Sif Høg</em>, dd/mm/yyyy</p>
    <h1>Header 1</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus sit deserunt ut cupiditate officiis laudantium provident itaque alias veniam! Ipsa nemo ullam nulla deleniti veritatis maxime molestias consectetur et eum.</p>
    <h2>References</h2>
        <ol style="list-style-type: none;">
            <li>[name]. [year]. [title]...</li>
        </ol>
</body>
</html>