<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Template</title>
</head>
<body>
    <embed src="../header.html" type="text/html" style="height:330px"></embed>
    <script>
        addEventListener("resize", (event) => {
            const header = document.querySelector("embed");
            if(window.innerWidth < 895) {
                let newHeight = window.innerWidth*(49/150) + (38);
                newHeight = (newHeight+"").split(".")[0] + "px";
                header.style.height = newHeight;
                console.log(header.style.height);
            }else {
                header.style.height = "330px";
                console.log(header.style.height);
            }
            console.log(header.style.height);
        })
    </script>

    <p>Written by, <em>Sif Høg</em>, dd/mm/yyyy</p>
    <h1>Header 1</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus sit deserunt ut cupiditate officiis laudantium provident itaque alias veniam! Ipsa nemo ullam nulla deleniti veritatis maxime molestias consectetur et eum.</p>
</body>
</html>