#me-line {
    width: 50%;
}

@media (min-width: 512px) {
    #me-line {
        float: right;
    }
}

@media (max-width: 512px) {
    #me-line {
        display: block;
        margin: 0 auto;
    }
}