:root {
    font-size: 20px;
    --standard-sif-colour: hsl(10, 30%, 10%);
    --special-sif-colour: hsl(0, 45%, 25%);
}

#me-line {
    width: 50%;
    stroke: var(--dim-sif-colour);
    stroke-width: .1rem;
    stroke-opacity: 100%;
    fill: var(--standard-sif-colour);
    fill-opacity: 0%;
    stroke-dasharray: 2403;
    stroke-dashoffset: 2403;
    animation: 4s linear forwards draw;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 2403;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 512px) {
    #me-line {
        float: right;
    }
}

@media (max-width: 512px) {
    #me-line {
        display: block;
        margin: 0 auto;
    }
}