/** Colour palette: https://huemint.com/website-2/#palette=fafffe-2a3037-7482bb-e94b4c **/
:root {
    font-size: 16px;
    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
    --h4-size: 1.25rem;
    --h5-size: 1rem;
    --h6-size: 1rem;

    --background-colour: #fafffe;
    --text-colour: #2a3037;
    --accent-blue: #7482bb;
    --accent-red: #e94b4c;

    background-color: var(--background-colour);
    color: var(--text-colour);
}