@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,800;1,500;1,800&family=Roboto:ital,wght@0,900;1,900&display=swap');

:root {
    font-size: 20px;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1.25rem;
    --h5-size: 1rem;
    --h6-size: 1rem;

    --background-colour: hsl(10, 100%, 97%);
    --standard-ingrid-colour: hsl(170, 30%, 10%);
    --special-ingrid-colour: hsl(170, 45%, 25%);
    --dim-ingrid-colour: hsl(160, 75%, 50%);
    --standard-sif-colour: hsl(10, 30%, 10%);
    --special-sif-colour: hsl(0, 45%, 25%);
    --dim-sif-colour: hsl(10, 50%, 47%);
    /* --dim-sif-colour: hsl(10, 50%, 75%); I LIKED THIS COLOUR BETTER, BUT IT MIGHT NOT HAVE ENOUGH CONTRAST*/
    
    background-color: var(--background-colour);
    color: var(--standard-sif-colour);
}

body {
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 8rem;
    width: 80%;
    max-width: 800px;
}

/* MENU AND HEADER */
nav {
    display: flex;
    width: 100%;
    position: relative;
    max-height: 2.3rem;
    overflow: hidden;
}
nav:after {
    bottom: 0;
    content: "";
    height: .1rem;
    left: 0%;
    position: absolute;
    background: var(--special-ingrid-colour);
    width: 50%;
}
.menu-item {
    margin: .5rem;
    color: var(--special-ingrid-colour);
    text-decoration: none;
    text-decoration-line: none;
    letter-spacing: .1rem;
    transition: 0.2s;
    position: relative;
    white-space: nowrap;
}
.menu-item:after {
    position: absolute; /*For the line to position properly, .menu-item has to have "position: relative;"*/
    content: '';
    height: .1rem;
    bottom: 0;
    left: 0;
    width: 0%;
    background: var(--special-ingrid-colour);
    transition: 0.5s;
}
.menu-item:hover {
    color: var(--standard-ingrid-colour);
}
.menu-item:hover:after {
    width: 75%;
    background: var(--standard-ingrid-colour);
}
#current-page {
    text-decoration-line: none;
    margin: .5rem;
    text-decoration: none;
    letter-spacing: .1rem;
    position: relative;
    border-left: .1rem solid var(--dim-sif-colour);
    text-align: center;
    padding-left: .5rem;
}

embed {
    margin: 0%;
    padding: 0%;
    width: 100%;
}
header, .main-header {
    margin: 0%;
    padding: 0px;
    width: 100%;
    max-width: 896px;
    height: 470px;
    overflow: hidden;
}
#header-cover {
    width: 100%;
    padding-bottom: 33%;
    position: relative;
}
#svg-image {
    border-bottom: .2rem solid var(--standard-sif-colour);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}
#blog-title {
    letter-spacing: .25rem;
    font-size: 2.5rem;
    position: absolute;
    bottom: -2.8rem;
    left: 1rem;
    color: var(--standard-sif-colour);
    z-index: 1;
}
#description {
    margin-top: .5rem;
}

/* GENERAL TEXT STYLING */
body,input,textarea,select {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

#post-header {
    margin-bottom: 0;
}
#post-header + p {
    margin-top: 0;;
}
h2 {
    font-size: 1.5rem;
}
h3,h4 {
    font-size: 1.25rem;
}
h5,h6 {
    font-size: 1rem;
}
a {
    color: var(--special-ingrid-colour);
    transition: 0.2s;
}
a:hover {
    color: var(--standard-ingrid-colour);
}

ol {
    counter-reset: item;
}
  li {
    display: block;
}
  li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}
.block-quote {
    padding: 1rem 2rem;
    text-align: justify;
    font-size: .9rem;
}
.block-quote .reference {
    display: block;
    text-align: right;
}

.content {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 12rem;
    border: .25rem solid var(--special-ingrid-colour);
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;
    font-size: .75;
    background-color: hsla(10, 50%, 75%, 12.5%);
}
.content a {
    text-decoration-line: none;
}
.content>ol {
    padding-left: .5rem;
}
.content>div {
    border-bottom: .125rem solid var(--special-ingrid-colour);
}

#references {
    list-style-type: none;
    padding-left: 0;
    text-align: justify;
}
#reference li {
    text-align: justify;
}
#references li::before {
    content: none;
}
#references li {
    text-indent: -2em;
    padding-left: 2em;
}

/* ILLUSTRATIONS */
.right {
    float: right;
}
.left {
    float: left;
}
.middle {
    display: block;
    text-align: center;
}
  

/* POST LIST */
td,th {
    padding: 0;
    min-width: 6rem;
    text-align: left;
    vertical-align: top;
}
td {
    padding-bottom: 1rem;;
}
.title-link {
    text-decoration-line: none;
    margin: 0;
}
.title-link>h2 {
    margin: 0;
}
td>p {
    margin-block-start: 0;
    margin-block-end: 1rem;
}

/* TECHNICAL */
.data,.data:hover {
    color: var(--dim-sif-colour);
    font-style: italic;
}


.hidden-element {
    visibility: hidden;
}

footer {
    background-color: var(--standard-ingrid-colour);
    color: var(--dim-sif-colour);
    padding: 0;
    margin: auto;
    margin-top: 2rem;
    position:absolute;
    left: 0%;
    width: 100%;
}
#footer-content {
    margin-left: 10%;
    margin-top: 2rem;
    padding-bottom: 0;
    width: 80%;
    max-width: 896px;
    text-align: justify;
    font-size: .8rem;
}
#footer-content a {
    color: var(--dim-sif-colour);
}